@import 'nib'
global-reset()


*
  outline none
  user-select none
  -webkit-font-smoothing antialiased
  cursor none

html
  width 100%
  height 100%
  overflow hidden

body
  width 100%
  background black
  color white
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height 1.3
  font-size 40px
